@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>@Model.Now</p>

@* <form method="post">
    <!-- 只要有這行，系統就會自動插入防偽 Token -->
    <button type="submit">Submit</button>
</form> *@
